<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a href="mailto:ganesh620671@gmail.com"><i class="bx bxl-gmail"></i></a></li>
        <li><a href="https://github.com/ganeshk6/"><i class='bx bxl-github'></i></a></li>
        <li><a href="https://www.linkedin.com/in/ganesh-kumar-47988621b/"><i class='bx bxl-linkedin'></i></a></li>
        <li><a href="https://www.instagram.com/ganesh.official_62/"><i class="bx bxl-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/GodGaneshDeva62"><i class="bx bxl-facebook-circle"></i></a></li>
    </ul>
    <ul class="contact-info">
        <li> Mobile: <a href="tel:+916206715572"> +91 6206715572 </a>
            <!-- <a href="tel:+919693780132">9693780132</a>  -->
        </li>
        <li>Gmail: <a href="mailto:ganesh620671@gmail.com">ganesh620671@gmail.com</a></li>
    </ul>
</div>